{{>layouts/header}}
<body>
  <div class="container-scroller">
    {{>layouts/top-navigator}}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      {{>layouts/left-navigator}}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
              <!-- Form -->
              <div class="col-md-6 grid-margin stretch-card" style="z-index:100; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title">작업내역서</h4>
                          <p class="card-description">
                              작업 내용을 작성해주세요.
                          </p>
                          <form class="forms-sample">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputUsername1">날짜</label>
                                          <input type="text" class="form-control" id="exampleInputUsername1" placeholder="날짜를 적어주세요.">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputEmail1">구분</label>
                                          <div class="row">
                                              <div class="col-4">
                                                  <div class="form-check">
                                                      <label class="form-check-label">
                                                          <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="NORMAL" checked>
                                                          일반
                                                          <i class="input-helper"></i></label>
                                                  </div>
                                              </div>
                                              <div class="col-4">
                                                  <div class="form-check">
                                                      <label class="form-check-label">
                                                          <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="EXPENDITURE">
                                                          지출
                                                          <i class="input-helper"></i></label>
                                                  </div>
                                              </div>
                                              <div class="col-4">
                                                  <div class="form-check">
                                                      <label class="form-check-label">
                                                          <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="EXPENSE">
                                                          비용
                                                          <i class="input-helper"></i></label>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputPassword1">거래처</label>
                                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="거래처를 적어주세요.">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputConfirmPassword1">작업자</label>
                                          <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="작업자를 적어주세요.">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputConfirmPassword1">배차자</label>
                                          <input type="text" class="form-control" id="exampleInputConfirmPassword1" placeholder="작업 주소지를 적어주세요.">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputConfirmPassword1">주소</label>
                                          <input type="text" class="form-control" id="exampleInputConfirmPassword1" placeholder="작업 주소지를 적어주세요.">
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="exampleInputConfirmPassword1">작업 내용</label>
                                  <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="작업 내용을 적어주세요." style="height: auto"></textarea>
                              </div>
                              <div class="form-group">
                                  <label for="exampleInputConfirmPassword1">작업 금액</label>
                                  <div class="input-group">
                                      <div class="input-group-prepend">
                                          <span class="input-group-text bg-primary text-white">₩</span>
                                      </div>
                                      <input type="text" class="form-control" aria-label="Amount (korean dollar)">
                                      <div class="input-group-append">
                                          <span class="input-group-text">원</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputEmail1">결제상태</label>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="NOT_FINISH" checked>
                                                  미완료
                                              </label>
                                          </div>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="FINISH">
                                                  완료
                                              </label>
                                          </div>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="PARTIAL_FINISH">
                                                  부분완료
                                              </label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputEmail1">지출상태</label>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="NOT_FINISH" checked>
                                                  미입금
                                              </label>
                                          </div>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="FINISH">
                                                  입금
                                              </label>
                                          </div>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="PARTIAL_FINISH">
                                                  부분입금
                                              </label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputEmail1">세금계산서</label>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="NOT_FINISH" checked>
                                                  발급 미완료
                                              </label>
                                          </div>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="FINISH">
                                                  발급 완료
                                              </label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="exampleInputEmail1">일반/통신</label>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="NORMAL">
                                                  일반
                                              </label>
                                          </div>
                                          <div class="form-check">
                                              <label class="form-check-label">
                                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="COMMUNICATOR">
                                                  통신
                                              </label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="exampleInputConfirmPassword1">비고</label>
                                  <textarea class="form-control" id="exampleTextarea1" rows="4" placeholder="메모/기록할 내용을 적어주세요." style="height: auto"></textarea>
                              </div>
                              <button type="submit" class="btn btn-primary me-2">Submit</button>
                              <button class="btn btn-light">Cancel</button>
                          </form>
                      </div>
                  </div>
              </div>
              <!-- //Form -->
              <div class="grid-margin">
                  <div class="btn-wrapper text-end">
                      <a href="#" class="btn btn-rounded btn-outline-dark"><i class="icon-printer"></i> Print</a>
                      <a href="#" class="btn btn-rounded btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                  </div>
              </div>
              <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                      <div class="card-body">
                          <h3 class="card-title">작업 내역</h3>
                          <p class="card-description">
                              작업 내역을 확인해주세요.<br>
                              &nbsp;&nbsp;* 작업 내역을 새롭게 작성할 수 있습니다.<br>
                              &nbsp;&nbsp;* 작업 내역을 수정/삭제할 수 있습니다.<br>
                          </p>
                          <div class="table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                  <tr>
                                      <th>날짜</th>
                                      <th>구분</th>
                                      <th>거래처</th>
                                      <th>작업자</th>
                                      <th>작업주소</th>
                                      <th>작업내용</th>
                                      <th>금액</th>
                                      <th>결제상태</th>
                                      <th>지출상태</th>
                                      <th>세금</th>
                                      <th>일반/통신</th>
                                      <th>비고</th>
                                      <th>기능</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td>2021-07-31</td>
                                      <td><label class="badge badge-danger">일반</label></td>
                                      <td>A회사</td>
                                      <td>홍길동</td>
                                      <td>수원시 권선구 평동 동남아파트</td>
                                      <td>-</td>
                                      <td>270,000</td>
                                      <td><label class="badge badge-danger">완료</label></td>
                                      <td><label class="badge badge-dark">미완료</label></td>
                                      <td><label class="badge badge-danger">전송</label></td>
                                      <td><label class="badge badge-dark">일반</label></td>
                                      <td>-</td>
                                      <td>
                                          <label class="badge badge-dark">수정</label>
                                          <label class="badge badge-dark">삭제</label>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>2021-07-31</td>
                                      <td><label class="badge badge-danger">일반</label></td>
                                      <td>A회사</td>
                                      <td>홍길동</td>
                                      <td>수원시 권선구 평동 동남아파트</td>
                                      <td>-</td>
                                      <td>270,000</td>
                                      <td><label class="badge badge-danger">완료</label></td>
                                      <td><label class="badge badge-dark">미완료</label></td>
                                      <td><label class="badge badge-danger">전송</label></td>
                                      <td><label class="badge badge-dark">일반</label></td>
                                      <td>-</td>
                                      <td>
                                          <label class="badge badge-dark">수정</label>
                                          <label class="badge badge-dark">삭제</label>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                              <div class="btn-wrapper text-end grid-margin">
                                  <button type="button" class="btn btn-outline-dark btn-sm btn-rounded btn-fw">추가</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
{{>layouts/footer}}
