<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="nav-link active" href="/works">거래내역</a>
    <a class="nav-link" href="/companies">거래처</a>
    <a class="nav-link" data-bs-toggle="pill" role="pill" href="/persons">작업자/거래인 관리</a>
</nav>
