<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="menu-icon mdi mdi-layers-outline"></i>
                <span class="menu-title">홈</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/works">
                <i class="menu-icon mdi mdi-table"></i>
                <span class="menu-title">거래내역 관리</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/companies">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">거래처 관리</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/persons">
                <i class="menu-icon mdi mdi-account-circle-outline"></i>
                <span class="menu-title">작업자/거래인 관리</span>
            </a>
        </li>
    </ul>
</nav>